/* line 2, ../sass/custom.scss */
body {
  margin: 0;
  background: url("../images/fieldgoalfix.jpg") top center;
  background-color: black;
  background-size: 100%;
  background-repeat: repeat-y;
}

/* line 10, ../sass/custom.scss */
.container {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.87);
}
