/* line 1, ../sass/custom.scss */
body {
  margin: 0;
  background: url("../images/scoreboard.jpg") top center;
  background-size: 100%;
  background-color: black;
}

/* line 8, ../sass/custom.scss */
.container {
  width: 960px;
  padding-bottom: 10px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.87);
}

/* line 15, ../sass/custom.scss */
#carousel {
  width: 100%;
  margin-bottom: 20px;
}

/* line 20, ../sass/custom.scss */
.donation-number {
  width: auto;
  height: 100px;
  margin: 1px;
  border: 1px solid;
}

/* line 27, ../sass/custom.scss */
#donation-box {
  border: 1px solid;
}
/* line 29, ../sass/custom.scss */
#donation-box #donations {
  text-align: center;
}
