@import 'utils/_font.scss';

body {
    margin: 0;
    padding-top: 52px;
    background: url('../images/scoreboard_test.jpeg') top center;
    background-color: black;
}

.container {
    width: 960px;
}

.non-index {
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, .87);
    padding-bottom: 10px;
    padding-top: 5px;
}

.index {
    background-color: rgb(104, 140, 142);
    background-color: rgba(104, 140, 142, .95);
    padding-bottom: 10px;
    padding-top: 5px;
}

.carousel {
    margin-bottom:20px;
    img {
        width: auto;
        height: 400px;
        max-height: 400px;
    }
    
    .carousel-inner {
        .item {
            img {
                margin: 0 auto;
            }
        }
    }
}

.donation-number {
    width: auto;
    height: 100px;
    margin: 5px;
    border: 1px solid;
}

.donation-box {
    #donations {
        text-align: center;
    }
}

nav {
    background-color: rgba(255,255,255,0);
    
    .container {
        background-color: white;
    }
}

.navbar-brand {
    font-size: x-large;
}

.contact-us-page {
    background: url('../images/Chalkboard-ContactUs_min.jpg') top center;
    
    .container {
        background-color: rgb(255,255,255);
        background-color: rgba(255,255,255,0);
    }
    .contact-us {
        position: relative;
        right: 100px;
        width: auto;
        height: 300px;
    }
    .contact-forms {
        position: relative;
        bottom: 100px;
    }
    .mailing-arrow {
        position: relative;
        width: auto;
        height: 400px;
        left: 400px;
    }
}

.post {
    background-color: white;
    padding: 5px;
    border-radius: 2px;
}
